body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  text-align: center;
  /* padding-top: 20px; */
  width: fit-content;
}
.clr-area {
  padding: 0;
}

.block {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  display: inline-block;
  margin-top: -4.4px;
}
