body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
  text-align: center;
  /* padding-top: 20px; */
  width: fit-content;
}
.clr-area {
  padding: 0;
}

.block {
  height: 31px;
  width: 29.5px;
  border: 1px solid black;
  display: inline-block;
  margin-top: -3px;
  margin-bottom: -2px;
}
